#zaglavlje {
	height: 190px;
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
}




#logo {
    float: left;
    text-align: left;
    max-width: 42%;
    margin: 0;
    padding: 0;
    min-height: 80px;
    width: auto;
}
 
#logo img  {
    min-height: 80px !important;
    max-height: 160px !important;
    width: auto;
	max-width: 100% !important;
	height: auto;
 
}

#baner-gore {
    float: right;
    text-align: right;
    max-width: 42%;
    margin: 0;
    padding: 0;
    min-height: 80px;
    width: auto;
}

#baner-gore img {
	max-width: 100%;
	height: auto;
}
