.header-nav {
    float: left;
    width: 50%;
    font-size: 12px;
    font-size: .75rem;
    text-transform: uppercase
}

.header-nav li {
    float: left;
    position: relative;
    border-left: 1px solid #424242
}

.header-nav li:first-child {
    border: none
}

.header-nav li a {
    display: block;
    color: #fff;
    padding: 10px 15px;
    padding: .625rem .9375rem;
    text-decoration: none
}

.header-nav ul li:hover>ul {
    display: block;
    background: #003300;
    z-index: 9999
}

.header-nav ul ul {
    display: none;
    position: absolute
}

.header-nav ul ul li {
    width: 13em;
    border: none
}

.header-nav ul ul ul {
    left: 100%;
    top: 0
}

.main-nav {
    text-transform: uppercase;
	font-size: 1rem;
}

.main-nav li {
    float: left;
    position: relative;
    border-left: 1px solid #ffffff
}

.main-nav li:first-child {
    border: none;
	border-radius: 5px 0 0 5px;
}

.main-nav li:last-child {
    border-right: 1px solid #ffffff
}

.main-nav li:hover {
    background: #003300
}

.main-nav li a {
    display: block;
    color: #fff;
    padding: 10px 15px;
    padding: 1.15rem;
    text-decoration: none
}

.main-nav ul li:hover>ul {
    display: block;
    background: #003300;
    z-index: 9999
}

.main-nav ul ul {
    display: none;
    position: absolute;
    font-size: 12px;
    font-size: .75rem
}

.main-nav ul ul li {
    width: 20em;
    border: none;
	font-size: 0.9rem;
}

.main-nav ul ul ul {
    left: 100%;
    top: 0
}

.main-nav ul ul li:hover {
	background: #4EB447;
}

.main-nav ul ul li:first-child {
	border-radius: 0;
}

.main-nav ul ul li:last-child {
    border-right: 0;
}

/*******/

#click-menu {
	display: none;
	visibility: hidden;
	background: none;
	z-index: 999;
	width: 100%;
	height: auto;
	clear: both;
	margin: 0px auto 10px auto; 
	padding: 0 !important;
	border-radius: 0;
	cursor: pointer;
}
#click-menu h3 {
 	padding:  12px 12px 12px 12px  ;
	font-size: 14px;
	color: #ffffff !important; 
	margin: 0 auto 0 auto;
	line-height: normal;
	float: left;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 0;
}
#click-menu .click {
 	float: left;
 	padding: 0;
	margin: 0;
	height: 44px;
} 
#click-menu .click img {
    padding: 0;
	margin: 0;
	border: 0;
	width: 50px;
	height: 44px;
	border-radius: 5px;
} 
#click-menu .click a {
 	margin: 0;
	padding: 0;
	height: 46px !important;
}
